<p-toolbar styleClass="bg-indigo-800">
  <div class="p-toolbar-group-start">
    <p-button
      icon="pi pi-book"
      label="Livros"
      routerLink="/books"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
    ></p-button>
  </div>

  <div class="p-toolbar-group-center">
    <p-button
      label="Estatisticas"
      icon="pi pi-chart-bar"
      routerLink="/statitics"
      styleClass="bg-indigo-800 p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>


  </div>
</p-toolbar>
