<nav
  class="
    rounded-b-md
    px-4 py-4
    flex items-center justify-between
    transition-all duration-300
    z-50"
  [ngClass]="{ 'collapsed': isCollapsed }"
  aria-label="Menu Principal"
>


  <button
    class="hamburger"
    type="button"
    (click)="toggleMenu()"
    aria-label="Menu"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>


  <div class="flex items-center space-x-4 nav-left" role="menubar">
    <a
      routerLink="/books"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active-link"
      class="ripple-button relative overflow-hidden rounded-md px-5 py-2 text-white"
      (click)="onRipple($event)"
      title="Ir para Livros"
      role="menuitem"
    >
      <i class="pi pi-book mr-2"></i>
      <span>Livros</span>
    </a>
  </div>


  <h1 class="nav-title">BOOKSBRIDGE</h1>

  
  <div class="flex items-center space-x-4 nav-right" role="menubar">
    <a
      routerLink="/statistics"
      routerLinkActive="active-link"
      class="ripple-button relative overflow-hidden rounded-md px-5 py-2 text-white"
      (click)="onRipple($event)"
      title="Ir para Estatísticas"
      role="menuitem"
    >
      <i class="pi pi-chart-bar mr-2"></i>
      <span>Estatísticas</span>
    </a>
  </div>
</nav>
