<app-toolbar-navigation></app-toolbar-navigation>

<div
  class="relative w-14 h-8 cursor-pointer mt-2 ml-4"
  (click)="toggleTheme()"
>

  <div
    class="
      absolute inset-0
      rounded-full
      transition-colors
      duration-300
      bg-gray-300
      dark:bg-gray-600
    "
  ></div>


  <div
    [ngClass]="{
      'translate-x-0 bg-white': !isDarkMode,
      'translate-x-6 bg-black': isDarkMode
    }"
    class="
      absolute top-1 left-1 w-6 h-6
      rounded-full
      flex items-center justify-center
      transform transition-transform duration-300
    "
  >
    <!-- Ícone de lua/sol dentro do círculo -->
    <i
      [ngClass]="isDarkMode ? 'pi pi-sun text-white text-sm' : 'pi pi-moon text-black text-sm'"
    ></i>
  </div>
</div>



<app-books-tables [books]="BooksData" [dark]="isDarkMode"></app-books-tables>

